terraform/process_strava_data_sfn.asl.json
{
  "StartAt": "prepare_and_upload_gpx",
  "States": {
    "prepare_and_upload_gpx": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account_id:function:prepare_and_upload_gpx",
      "Next": "store_activity_in_dynamo"
    },
    "store_activity_in_dynamo": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account_id:function:store_activity_in_dynamo",
      "Parameters": {
        "Context": "parent"
      },
      "Next": "check_child_users"
    },
    "check_child_users": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:region:account_id:function:check_child_users",
      "Next": "validate_for_each_child"
    },
    "validate_for_each_child": {
      "Type": "Map",
      "ItemsPath": "$.child_users",
      "Iterator": {
        "StartAt": "validate_child",
        "States": {
          "validate_child": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:region:account_id:function:validate_child",
            "Next": "validation_choice"
          },
          "validation_choice": {
            "Type": "Choice",
            "Choices": [
              {
                "And": [
                  {
                    "Variable": "$.parent_valid",
                    "BooleanEquals": true
                  },
                  {
                    "Variable": "$.title_valid",
                    "BooleanEquals": true
                  }
                ],
                "Next": "duplicate_activity"
              }
            ],
            "Default": "skip_child"
          },
          "duplicate_activity": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:region:account_id:function:duplicate_activity",
            "Next": "initialize_retry_counter"
          },
          "initialize_retry_counter": {
            "Type": "Pass",
            "Result": {
              "retry_count": 0
            },
            "ResultPath": "$.retry",
            "Next": "wait_for_duplication"
          },
          "wait_for_duplication": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "check_duplication_status"
          },
          "check_duplication_status": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:region:account_id:function:check_duplication_status",
            "Next": "duplication_complete_choice"
          },
          "duplication_complete_choice": {
            "Type": "Choice",
            "Choices": [
              {
                "And": [
                  {
                    "Variable": "$.child_activity_id",
                    "IsNull": false
                  },
                  {
                    "Variable": "$.error",
                    "IsNull": true
                  }
                ],
                "Next": "store_child_activity_in_dynamo"
              },
              {
                "Variable": "$.error",
                "IsNull": false,
                "Next": "duplication_failed"
              }
            ],
            "Default": "increment_retry_counter"
          },
          "increment_retry_counter": {
            "Type": "Pass",
            "Parameters": {
              "retry_count.$": "States.MathAdd($.retry.retry_count, 1)"
            },
            "ResultPath": "$.retry",
            "Next": "check_max_retries"
          },
          "check_max_retries": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.retry.retry_count",
                "NumericGreaterThanEquals": 10,
                "Next": "duplication_failed"
              }
            ],
            "Default": "wait_for_duplication"
          },
          "duplication_failed": {
            "Type": "Fail",
            "Cause": "Duplication Timed Out",
            "Error": "Duplication did not complete after 10 attempts"
          },
          "store_child_activity_in_dynamo": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:region:account_id:function:store_activity_in_dynamo",
            "Parameters": {
              "Context": "child"
            },
            "End": true
          },
          "skip_child": {
            "Type": "Succeed"
          }
        }
      },
      "End": true
    }
  }
}
